{% extends 'base.html' %}
{% block title %}Confirm{% endblock %}
{% block content %}
<div class="container">
    <div class="card mt-5">
        <h5>&nbsp;Confirmation</h5>
        
        <div class="card-body">
            {% for msg in messages %}
            <p class="text-success">{{msg}}</p>
            {% endfor %}
            <h6>The similar question is :</h6>
            <form method="post">
                {% csrf_token %}
                Title : {{s_title}} <br>
                Detail : {{most_similar_question}}<br>
                Categories : {{s_tags}}
                <table class="table table-bordered">
                    {{form.as_table}}
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-primary">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}